body {
  color: #262626 !important;
  font-family: "SF Pro Display Regmenuar", sans-serif;
  font-size: 1em !important;
  font-style: normal;
  font-weight: 300;
}

* {
  font-weight: 500;
}
.language select{
 border:none!important;
 background:#f9f9f9!important;
}
#burger{
  font-size: 30px;
  display: none;
  z-index: 10;
}


#first {

  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #f9f9f9;
  font-size: 14px;
  color: #666 !important;
  border-bottom: 1px solid#f9f9f9 !important;
}

#second {
  height: 74px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
  border-bottom: 1px solid #f9f9f9 !important;
}
.lang{
  border:none;
}
.mobile-menu,  .portal-long {
  display: none;
border:none;
  padding: 10px;
  font-size: 16px;
}
#third {
  height: 75px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 15px;
  border-bottom: 1px solid #dcdcdc !important;
}

#third menu li a:hover {
  border-bottom: 2px solid #2058bb;
  padding-bottom: 27px;
}

.showmenu {
  position: absolute;
  top: 200px;
  width: 100%;
  left: 0;
  background: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  padding: 20px;
  display: flex;
  flex-direction: row;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.side {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex: 1;
  padding-left: 20px;
  gap: 1rem;
}

.side2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex: 1;
  padding-left: 20px;
  gap: 1rem;
  border-left: 1px solid #e4e4e4;
}

.side-left {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
  padding-left: 20px;
  gap: 1rem;
}

.block {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  font-size: 18px;
  color: #555;
}

.block ul {
  list-style: none;
}

.block ul li {
  padding: 8px;
  color: #333;
  cursor: pointer;
  transition: color 0.3s ease;
}

.side2-img img {
  width: 300px;
  height: 200px;
  object-fit: contain;
}

.side2-text h3 {
  font-size: 18px;
  margin: 10px 0;
  color: #333;
}

.side2-text p {
  font-size: 14px;
  color: #666;
}

.side2-button button {
  border-radius: 5px;
  border: 1px solid #000;
  color: #000;
  padding: 15px;
  font-size: 14px;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.5s ease;
}

.side2-button button:hover {
  background: #000;
  color: #fff;
}

/* Responsive */
@media (max-width: 600px) {
  .showmenu {
    flex-direction: column;
    width: 90%;
  }

  .side2 {
    padding-left: 0;
  }
}

.head2 {
  display: flex;
  align-items: center;
}

menu {
  display: flex;
  flex-wrap: nowrap;
}

menu li a {
  margin-right: 1.5rem !important;
  text-decoration: inherit;
}

#second menu li a {
  color: #dcdcdc !important;
  text-decoration: none;
}

#second menu li a span {
  color: #000 !important;
}

#second menu li a.active-link {
  color: #000 !important;
}

#second menu li a:visited {
  color: black;
}

#second menu li a:hover {
  color: #dcdcdc;
}

.search {
  display: none;

}


.bank img {
  height: 50px;
  display: block;
  width: 110px;
  object-fit:contain;
}

.portal menu {
  display: flex;
  flex-wrap: wrap;
}

.portal menu li {
  color: #2058bb;
  cursor: pointer;
  margin-right: 1rem !important;
  padding-right: 1rem !important;
  font-weight: 600;
  margin: 0px 0px 0px 8px;
}
.swiper {
  z-index:0!important;
  width: 100%!important;
  position: relative!important;
}
.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}
.swiper-horizontal>.swiper-pagination-bullets.swiper-pagination-bullets-dynamic, .swiper-pagination-horizontal.swiper-pagination-bullets.swiper-pagination-bullets-dynamic {
  left: 10%!important;
  transform: translateY(-100%)!important;
  white-space: nowrap;
}
.swiper-pagination {
  position: absolute;
  bottom: 10px; 
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
  
}
.swiper-pagination-bullet {
  width: 30px !important;
  height: 10px;
  background-color: #797979!important; 
  border-radius: 5px!important;
  opacity: 0.6;
  transition: all 0.3s ease;
}

/* Active bullet */
.swiper-pagination-bullet-active {
  background-color: #fff!important; 
  width: 16px; 
  height: 16px;
  opacity: 1;
  box-shadow:#fff!important;
}
.slide{
  background: linear-gradient(90deg, #E1EBFF 9.88%, #AFB9CD 92.09%);
display:flex;
height: 500px;
flex-direction:row;
justify-content:space-between;
align-items:center;

}
.slide-text{
  display: flex !important
  ;justify-content: center !important;
  align-items: flex-start !important;
  flex-direction:column;
}
.slide-text h3{
  line-height: 54px;
  font-size: 45px;
  font-weight: 600;
  padding-top: 3rem !important;
  margin-bottom: 1rem !important;
}
.slide-text h4{
  padding-bottom: 1rem !important;
  font-size: 18px;
  font-weight: 500;
}
.slide-buttton{
  padding:1rem;
  border: 1px solid #262626;
  border-radius: 5px;
  transition: all .4s ease;
}
.slide-buttton button{
  font-size: 16px;
  font-weight: 500;
  border-radius: 5px;
  padding: 15px 25px;
  border: 1px solid #262626;
  color: #262626;
  text-align: center;
}
.slide-buttton:hover{
  background: #262626;
  color:#fff;
}
.slide-img img{
  max-height: 500px;
  max-width: 100%;
}
.kredit-desc {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  order: 2;
  max-width: 495px;
}

.kredit-desc h2 {
  font-size: 40px;
  line-height: 48px;
  font-weight: 600;
  padding-bottom: .25rem !important;
  margin-bottom: .5rem !important;
}

.kredit-desc p {
  font-size: 18px;
  line-height: 25px;
  font-weight: 500;
  margin-bottom: 1.5rem !important;
}

.kredit-desc input {
  align-items: center;
  background-color: transparent;
  border: 2px solid #dcdcdc;
  border-radius: 5px;
  display: flex;
  font-size: 16px;
  height: 60px;
  justify-content: center;
  width: 100%;
  margin-top: 10px;
  padding: 10px 1rem 0 1rem;
  color: inherit;
  font-family: inherit;
  font-weight: inherit;
  line-height: inherit;
}

.kredit-inputs {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.check-alow label p {
  margin-bottom: 20px;
  text-align: justify;
  color: #5b5c5e !important;
  font-size: 15px;
}

.check-alow {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}

#check {
  width: 21px;
  height: 21px;
  -webkit-appearance: none;
  background: #f9f9f9;
  border: 1px solid #2058bb;
  border-radius: 6px;
  content: "";
  cursor: pointer;
  display: inline-block;
  margin-right: 5px;
  padding: 10px;
  position: relative;
  vertical-align: middle;
}

#check:checked::after {
  background: transparent;
  border: solid #fff;
  border-width: 0 2px 2px 0;
  content: "";
  display: block;
  height: 14px;
  left: 9px;
  position: absolute;
  top: 2px;
  transform: rotate(45deg);
  width: 6px;
}

#check:checked::before {
  content: ""; /* Ensure the checkmark appears */
  background: rgba(32, 88, 187, 1);
  bottom: 10px;
  right: 10px;
  cursor: pointer;
  display: inline-block;
  margin-right: 5px;
  padding: 10px;
  position: relative;
  vertical-align: middle;
  border-radius: 4px;
}

.kredit-button button[disabled] {
  background-color: #d3d3d3; /* Grey background */
  cursor: not-allowed; /* Disable cursor */
}

.kredit-button button {
  background: rgba(32, 88, 187, 1);
  font-size: 18px;
  border: none;
  cursor: pointerservices;
  border-radius: 6px;
  width: 100%;
  height: 50px;
  color: #fff;
}

.kredit-button {
  width: 100%;
}

.kredit-img {
  object-fit: cover;
  order: 1;
  max-width: 100%;
}

.kredit-img img {
  max-height: 550px;
  max-width: 705px;
  width: 100%;
  order: 1;
}

.kredit {
  background: #f9f9f9 !important;
  padding: 5rem 0 !important;
  display: flex;
  justify-content: center !important;
  align-items: center !important;
  flex-direction: column;
}

.sade {
  padding: 5rem 0;
  margin-left: 15px;
  margin-right: 15px;
}

.sade-cards {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.sade-card {
  width: 100%;
  margin-bottom: 1rem !important;
  border-radius: 8px;
  background: linear-gradient(90deg, #f5f6f7, #f0f4f9);
  padding-left: .25rem !important;
  display: flex !important;
  align-items: center;
  justify-content: space-between;
}

.sade-desc {
  width: 100%;
  padding: 1.5rem !important;
  display: flex !important;
  flex-direction: column !important;
  justify-content: space-between;
  flex: 1;
}

.sade-title h3 {
  font-size: 18px;
}

.sade-text {
  line-height: 21px;
  font-size: 15px;
  color: #6f7071;
  margin-bottom: 1rem !important;
  margin-top: .25rem !important;
}

.sade-button button {
  border-radius: 6px;
  padding: 12px 16px !important;
  font-weight: 600 !important;
  display: inline-block;
  text-align: center;
  transition: all .4s ease;
  color: #fff !important;
  border: none;
  background-color: #2058bb;
}

.sade-button button a {
  color: #fff !important;
}

.sade-img {
  object-fit: cover;
}

.sade-img img {
  width: 115px;
  height: 189px;
  display: flex;
  judtify-content: flex-end !important;
}

.calculator {
  padding: 5rem 0;
  display: flex;
  flex-direction: column;
}

.calculator h2 {
  text-align:left;
  margin-bottom: 1.5rem !important;
}

.kredit-calculator {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
}

.rangess {
  width: 100%;
  max-width: 600px;
  padding:0 15px;
}

.range {
  width: 100%;
  margin-bottom: 2rem;
}

.slider {
  cursor: pointer;
  width: 100%;
  height: 6px;
  background: #2058bb;
  border-radius: 5px;
  outline: none;
  -webkit-appearance: none;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 18px;
  height: 18px;
  background: #fff;
  border: 2px solid #2058bb;
  border-radius: 50%;
  cursor: pointer;
}

.range-text {
  border: 1px solid #e4e4e4;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
}

.range-text span {
  font-size: 18px;
  color: #666;
}

.range-bottom {
  display: flex;
  justify-content: space-between;
  padding-top: 5px;
}

.result {
  text-align: center;
  margin-top: 20px;
  padding:0 15px;
}

.result-texts {
  padding: 10px;
}
.result-line{
  border-color: #e4e4e4 !important;
  margin-bottom: 1.5rem !important;
  margin-top: 1.5rem !important;
  display: block !important;
  border-top: 1px solid #dedede;
}
#monthly-payment,
#total-payment {
  font-size: 32px;
  font-weight: bold;
}
.result-block{
  display: flex;
  align-items: center;
  flex-direction: column;
}
.result-button button {
  font-size: 16px;
  padding: 12px 20px;
  background: #2058bb;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.result-button button:hover {
  background: #17499a;
}

.services {
  padding: 5rem 0;
  overflow: hidden;
  background: #f9f9f9;
}

.serv-cards,
.news-cards {
  margin-left: 15px;
  margin-right: 15px;
}

.serv-cards {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1.5rem;
  margin-top: 1rem;
  overflow-x: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
  scroll-snap-type: x mandatory;
}

.serv-cards::-webkit-scrollbar {
  display: none;
}

.serv-card {
  flex: 0 0 auto;
  width: 270px;
  height: 273px;
  border-radius: 13px;
  padding: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #fff;
  scroll-snap-align: start;
}

.serv-card img {
  margin: auto;
  displa: flex;
  justify-content: center;
  align-items: center;
  width: 132px;
  height: 132px;
  border-radius: 12px;
  margin-left: 15px;
  margin-right: 15px;
}

.serv-card h3 {
  font-size: 20px;
  line-height: 24px;
  color: #000;
  text-align: center;
  max-width: 195px;
}

.services h2,
.news h2,
.sade h2,
.req h2,
.valyuta h2,
.calculator h2 {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
}

.services,
.news,
.req,
.valyuta,
.calculator {
  padding-left: 15px;
  padding-right: 15px;
}

.valyuta-title {
}

.valyuta {
  padding: 5rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.valyutas {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.valyuta h2 {
  margin-bottom: 2rem;
}

.valyuta-table  table {
  border-collapse: collapse;
}

.valyuta-table td {
  width: 160px;
  height: 56px;
  font-size: 36px;
  margin-right: 5px !important;
}

.valyuta-table th {
  width: 150px;
  height: 26px;
  font-weight: 500;
  font-size: 16px;
}

.valyuta-table td:first-child {
  font-weight: 600;
}

.valyuta hr {
  border-top: 1px solid #e4e4e4;
}

.valyuta-text {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.valyuta-text span {
  font-size: 16px;
  font-weight: 500;
  color: #666 !important;
}

.terminal {
  margin-top: 1.5rem !important;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}

.terminal h4 {
  font-size: 24px;
  font-weight: 500;
  padding-bottom: .5rem !important;
  margin-bottom: 1.5rem !important;
}

.term-input {
  display: flex;
  align-items: center;
  border: 1px solid #e4e4e4;
  border-radius: 5px;
  padding: 1rem 1.5rem 1rem 1.5rem;
  overflow: hidden;
  margin-top: 10px;
}

.term-input input {
  width: 100%;
  border: none;
  height: 38px;
  font-size: 16px;
  outline: none;
  flex: 1;
}

.term-input select {
  border: none;
  font-size: 16px;
  background: #fff;
  outline: none;
  cursor: pointer;
  border-left: 2px solid #e4e4e4;
}

.news {
  padding: 5rem 0;
  background: #f9f9f9;
}

.news-cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  margin-top: 30px;
  gap: 1.5rem;
}

.news-text {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.news-card {
  background: #fff; /* Added background color */
  border-radius: 0.5rem;
  padding: 1.5rem;
  display: flex;
  gap: 64px;
  justify-content: space-between;
  flex-direction: column;
  color: #fff;
}

.news-card .top {
  width: 100%; /* Ensures it spans full width */
}

.news-card h3 {
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  width: 100%;
  color: #000;
  word-wrap: break-word;
}

.news-card span {
  width: 100%;
  font-size: 12px;
  line-height: 14px;
  font-weight: 500;
  color: rgba(117, 117, 117, 1);
}

.req {
  padding: 5rem 0;
  margin-left: 15px;
  margin-right: 15px;
}

.req-cards {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.req-card {
  width: 100%;
  margin-bottom: 1rem !important;
  border-radius: 8px;
  padding: 1.25rem;
  display: flex !important;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 0.5rem;
  border-radius: 16px;
}

.req-card:first-child {
  background: #1461c5;
}

.req-card:nth-child(2) {
  background: #0024a3;
}

.req-card:nth-child(3) {
  background: #114090;
  top: 0;
}

.req-img img:nth-child(3) {
  top: 0;
}

.req-img img:nth-child(4) {
  top: 0;
}

.req-card:nth-child(4) {
  background: #096ceb;
  top: 0;
}

.req-desc {
  order: 2;
  width: 100%;
  padding: 30px;
  padding-right: 0px !important;
  display: flex !important;
  flex-direction: column !important;
  justify-content: space-between;
  flex: 1;
  /* flex: 0 0 66.666667%;
  max-width: 66.666667%; */
}

.req-title h3 {
  color: #fff;
  font-size: 20px;
  line-height: 24px;
  font-weight: 600;
}

.req-text {
  font-size: 15px;
  line-height: 19px;
  color: rgba(255, 255, 255, 1);
  margin-bottom: 1rem !important;
  margin-top: .25rem !important;
}

.req-button button {
  border-radius: 6px;
  padding: 0.75rem 1.25rem 0.75rem 1.25rem !important;
  font-weight: 600 !important;
  display: inline-block;
  text-align: center;
  transition: all .4s ease;
  color: #fff !important;
  border: none;
  background-color: #fff;
}

.req-button button a {
  color: #000 !important;
  font-size: 12px;
  line-height: 15px;
}

.req-img {
  object-fit: cover;
  border-radius: 16px;
  background: #ffffff16;
  width: 100%;
  display: flex;
  justify-content: center;
}

.req-img img {
  order: 1;
  width: 229px;
  height: 204px;
  display: flex;
  judtify-content: flex-end !important;
}

.req-icons {
  display: flex;
  align-items: center;
  gap: 18px;
}

.req-icons i {
  height: 24px;
  width: 24px;
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: contain;
  font-size:20px;
  display: inline-block;
color: #f9f9f9;
}

footer {
  background: #f9f9f9;
}

.foot-section {
  padding-top: 1.5rem !important;
}

.foot-text {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #dedede;
  background: #fff;
  margin-top: 1.5rem !important;
  height: 65px;
}

.row {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#first-row {
  display: none;
}

.col {
  display: flex;
  flex-direction: column;
  padding: 0 15px;
}

.col ul li {
  margin-bottom: 1rem !important;
}

.col ul li a {
  line-height: 21px;
  color: #666 !important;
  font-size: 15px;
}

.col-title {
  font-size: 17px;
  font-weight: 600;
  padding-right: 1rem !important;
  margin-top: .5rem !important;
}

.foot-bank {
  display: flex;
  flex: 0 0 75%;
  max-width: 75%;
  padding: 0 15px;
}

.foot-bank img {
  height: 35px;
  width: 35px;
}

.foot-text a {
  font-weight: 600;
  margin-left: .5rem !important;
}

#foot-tel {
  font-size: 18px;
  font-weight: 600;
}

#foot-tel a {
  margin-left: .5rem !important;
}

.foot-bottom {
  margin-bottom: .5rem !important;
  display: flex;
  flex-direction: column-reverse;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.corporate {
  display: flex;
  flex: 0 0 33.333333%;
  max-width: 33.333333%;
}

.corporate span {
  font-size: 14px;
  color: #585858;
}

.company {
  margin: 10px 0;
  display: flex !important;
  justify-content: space-between !important;
}

.company img {
  object-fit: cover;
  padding: 1px;
  margin: 0 1px;
  height: 26px;
  width: 26px;
}

.medias {
  flex: 0 0 33.333333%;
  max-width: 33.333333%;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  flex-direction: column;
}

.media .circle {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background-color: #f0f0f0;
  display: inline-flex !important;
  align-items: center !important;
  margin-right: .25rem !important;
}

.media .circle i {
  height: 16px;
  width: 16px;
  color: #262626;
}

.language {
  dispaly: none;
}

@media (max-width: 768px) {
  .news-text a {
    margin-top: 10px;
  }
}
.zero{
  display:none;
}
@media only screen and (min-width: 768px) {
  .req-cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
  }

  .req-img {
  }
}
#third2{
  display:none
}
.search2{
  display:none
}
#burger{
  font-size: 30px;
  display: none;
  z-index: 10;
}

@media only screen and (max-width: 1024px) {
  #third2 {
    transition: 0.4s;
    display: flex !important;
    flex-direction: column !important;
}
.zero{
  display:flex;
  justify-content:space-between;
  padding:0 1rem;
}
.head2 .bank{
  display:none;
}
.menu {
  position: fixed;
  margin-top:7.5rem;
  top: -200%;
  z-index:99;
  left: 0;
  width: 100%;
  background: #fff;
  display: flex;
  flex-direction: column;
  transition: top 0.3s ease-in-out;
}

.menu.open {
  top: 0;
}
#burger{
  display: block;
  color: #000;
}
#second{
  display:flex;
  align-items: center;
  justify-content: space-between;

  background: #f9f9f9;
  flex-wrap: wrap;
}
.search2 {
  display: flex;
  flex: 0 0 25%;
  max-width: 25%;
  justify-content: flex-end !important;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
}

.search2 menu li {
  display: flex;
  flex-wrap: nowrap;
  align-items:center;
  flex-direction: row !important;
}

.search2 menu li {
  cursor: pointer;
  padding-right: 1rem !important;
}
#third2 menu {
    flex-direction: column !important;
    display: flex !important;
    flex-wrap: wrap !important;
    padding: 0 1rem;
}

#third2 menu li {
    display: flex;
    justify-content: space-between !important;
    cursor: pointer;
    position: relative;
    font-size: 18px;
    font-weight: 400;
    padding-bottom: 1rem !important;
    padding-top: 1rem !important;
    width: 100%; /* Make sure the list item takes up the full width */
}

#third2 menu li a {
    display: flex;
    justify-content: space-between !important;
    width: 100%; /* Ensure anchor takes up the full width */
}

.caret {
    display: flex;
    justify-content: flex-end;
    cursor: pointer;
    user-select: none;
    width: 100%; /* Ensure the caret spans the entire width of the list item */
}

.caret::after {
    content: '\25B6';
    color: black;
    transform: rotate(90deg);
    display: inline-block;
    margin-left: auto; /* This aligns the caret to the far right */
}


.caret-down::before {
    transform: rotate(180deg);
}

.dropdown {
  display: none; /* Hide dropdown by default */
  background-color: #f9f9f9;
  position: absolute;
  width: 200px;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  padding: 10px;
}

/* Show the dropdown when active */
.dropdown.active {
  display: block;
}

  #third {
    display: none;
  }
  #first{
    display:none;
  }
  #first2 menu {
    position:fixed;
    display: flex;
    gap: 20px;
    list-style: none;
    margin: 0;
    overflow-x: auto; /* Enables horizontal scrolling */
    white-space: nowrap; /* Prevents items from wrapping */
    scrollbar-width: thin; /* Makes scrollbar visible in Firefox */
    -ms-overflow-style: auto; /* Ensures scrollbar appears in IE/Edge */
    scroll-snap-type: x mandatory;
  }
#first2 menu li a{
  background-color: #e4e4e4;
  padding:1rem;
  margin:auto;
  text-align:center;
  border-radius:3px;
}
  /* Fix for Chrome, Safari, and Edge */
  #first2 menu::-webkit-scrollbar {
    height: 6px; /* Set height for horizontal scrollbar */
  }

  #first2 menu::-webkit-scrollbar-thumb {
    background-color: #888; 
    border-radius: 10px; 
  }

  #first2 menu::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  .desktop-menu, .portal {
    display: none; /* Hide menu */
}
.mobile-menu, .porta-long {
    display: flex; /* Show dropdown */
}
.mobile-menu {
  display: flex; 
  justify-content:flex-start;
  background: #f9f9f9!important;
}
.mobile-menu, .lang {
  display: flex; 
  background: #f9f9f9!important;
}
  .corporate span {
    width: 100%;
  }
  #first2{
    padding:20px 0;
  }

}

@media only screen and (min-width: 992px) {
  .container1 {
    padding: 0 15px;
    margin: 0 auto;
  }
  .search {
    display: flex;
    flex: 0 0 25%;
    max-width: 25%;
    justify-content: flex-end !important;
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
  }
  
  .search menu {
    display: flex;
    flex-wrap: wrap;
  }
  
  .search menu li {
    cursor: pointer;
    margin-right: 1rem !important;
    padding-right: 1rem !important;
  }
  
  .services,
  .news,
  .req,
  .valyuta,
  .calculator {
    padding-left: 0;
    padding-right: 0;
  }

  .container {
    padding: 0 40px;
    margin: 0 auto;
  }

  .calculator {
    padding: 5rem 0;
    display: flex;
    flex-direction: column;
  }

  .kredit-calculator {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
  }

  .result-texts {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
  }

  .sade-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
  }

  .sade-card {
    width: auto;
  }

  .req-card {
    width: 100%;
    margin-bottom: 1rem !important;
    border-radius: 8px;
    padding: 0;
    padding-left: .25rem !important;
    display: flex !important;
    align-items: center;
    justify-content: space-between;
    gap: 0.5rem;
    border-radius: 16px;
    flex-direction: row;
  }

  .req-desc {
    order: 1 !important;
  }

  .req-img img {
    order: 2 !important;
  }

  .req-img img:nth-child(3) {
    position: absolute;
    background: #114090;
    top: 100px !important;
  }

  .req-img img:nth-child(4) {
    position: absolute;
    background: #096ceb;
    top: 10px !important;
  }

  .req-img {
    position: relative;
    width: 229px;
    height: 204px;
    background: none;
    order: 2 !important;
  }

  .terminal {
    margin-top: 0;
  }

  .medias {
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
    display: flex !important;
    align-items: center !important;
    justify-content: flex-end !important;
    flex-direction: row;
  }

  .foot-text {
    padding: 0 40px;
  }

  .foot-bottom {
    margin-bottom: .5rem !important;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }

  .language {
    position: relative;
    display: inline-block;
  }

  .selected-lang {
    display: flex;
    align-items: center;
    cursor: pointer;
    border: 1px solid #ccc;
    padding: 5px 10px;
  }

  .selected-lang img {
    width: 24px;
    height: 24px;
    margin-right: 5px;
  }

  .lang-list {
    position: absolute;
    top: 100%;
    left: 0;
    display: none;
    list-style: none;
    background: white;
    border: 1px solid #ccc;
    padding: 0;
    margin: 0;
    width: 100%;
  }

  .lang-list li {
    display: flex;
    align-items: center;
    padding: 5px 10px;
    cursor: pointer;
  }

  .lang-list li img {
    width: 24px;
    height: 24px;
    margin-right: 5px;
  }

  .lang-list li:hover {
    background: #f0f0f0;
  }

  .language:hover .lang-list {
    display: block;
  }
}

@media (min-width: 1024px) {
  .slide{
  background: linear-gradient(90deg, #E1EBFF 9.88%, #AFB9CD 92.09%);
display:flex;
flex-direction:row;
height: 500px;
align-items:center;
justify-content:space-between;
}
.slide-text{
  max-width:310px;
  display: flex !important
  ;justify-content: center !important;
  align-items: flex-start !important;
  flex-direction:column;
}
  .serv-cards {
    justify-content: flex-start;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    padding-bottom: 1rem;
    padding-left: 1rem;
  }

  .kredit-desc {
    order: 1;
  }

  .kredit-img {
    order: 2;
  }

  .kredit {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
  }

  .valyutas {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
  }

  .row {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: row;
  }

  #first-row {
    display: flex;
  }
}

